
body{
        background-color: #fcfcfc;
       
    }

hr {

        border-style: none;
        border-color: rgb(177, 169, 169);
        border-top-style: dotted;
        border-width: 5px;
        width: 10%;  
    }

h1{
    color: rgb(83, 28, 128);
    
} 
h2{
    color: rgb(83, 28, 128);

}